.about-main
{
    background-size: contain;
    height: 70vh;
    width: auto;
    color: white;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 70vh;
    z-index: 0;
    background: linear-gradient(to right, rgba(255, 48, 91, 1), rgba(0,0,0,0.1)); /* Adjust opacity as needed */
  }

  .aboutus-underline {
    bottom: -5px;
    left: 0;
    width: 800px; 
    height: 2px; 
    background-color: white;
    color: white;
}


.aboutus-content {
    z-index: 100; 
}

.aboutus-main-content
{
    font-size: x-large;
    font-weight: 300;
    width: 40%;
}
