
.services-home-main
{
    background-color: #021624;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.services-underline {
    bottom: -5px;
    left: 0;
    width: 400px; 
    height: 2px; 
    background-color: white;
    color: white;
}

.services-home-heading {
    font-size: 80px;
    color: white;
    margin: 8vh;
    padding-top: 3vh;
    text-align: left;
    position: relative;
    z-index: 10; 
}

.services-home-left
{
    width: 60%;
}


.services-home-right
{
    display: flex;
    justify-content: center;
    align-items: center;
}


.services-main-content
{
    font-size: x-large;
    font-weight: 300;
}

.services-diagram
{
    height: 20vw;
}